body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif; /* Set global font to Manrope */
    font-size: 14px;
    height: 100vh; /* Use full height of the viewport */
    overflow: hidden; /* Prevent body scrolling */
}

#calendar {
    max-width: 1100px;
    margin: 0 auto;
    height: 100%; /* Full height of the viewport */
    display: flex;
    flex-direction: column; /* Align children vertically */
}

.fc-toolbar.fc-header-toolbar,
.fc-col-header,
.fc-timegrid-axis-cushion {
    position: sticky;
    z-index: 1000;
    background: white;
}

.fc-toolbar.fc-header-toolbar {
    top: 0;
}

.fc-col-header {
    top: 40px; /* Adjust to be below the toolbar */
}

.fc-timegrid-axis-cushion {
    left: 0;
    z-index: 100; /* Ensure time column stays above the content */
    background: white;
}

.fc-view-harness {
    flex-grow: 1; /* Allow the main view to grow and fill the available space */
    overflow: hidden; /* Prevent scrolling outside the desired area */
    position: relative; /* Needed for sticky positioning */
}

.fc-scroller-harness {
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.fc-timegrid-slot {
    height: 60px !important; /* Adjusted value with !important */
}

.fc-event {
    background-color: #142652 !important; /* Set event background color */
    color: white; /* Ensure text is readable */
    border: none; /* Remove border for a clean look */
    padding: 5px; /* Add padding to event content */
}

.tippy-box {
    background: #eae6e3; /* Set tooltip background color */
    color: #142652; /* Set tooltip text color */
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #eae6e3; /* Match arrow color to tooltip background */
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    position: relative;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
