body {
    margin: 40px 10px;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    text-align: center;
    overflow: hidden; /* Prevent full page scrolling */
}

#calendar {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    height: calc(100vh - 100px); /* Adjust height as needed */
    overflow: auto; /* Scroll only the calendar content */
}

.fc-timegrid-slot {
    height: 60px !important;
}

.fc-event-content {
    padding: 5px; /* Add padding to event content */
}

.fc-event {
    background-color: #142652 !important;
    color: white;
    border: none;
}

.tippy-box {
    background: #eae6e3;
    color: #142652;
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #eae6e3;
}

.fc-view-harness, .fc-view, .fc-scroller {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
}
